.media {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn{
    background-color: blue;
    /* width: 25%; */
    transition: 0.1s;
}

@media only screen and (max-width:500px){

    .sm-4 {
        /* flex-direction: column; */
        width: 100%
    }

    /* .btn{
        background-color: rgb(162, 0, 255);
        width: 80%;
    } */
    
}


@media only screen and (min-width:501px){

    .md-2 {
        /* flex-direction: row;
        flex-wrap: wrap; */
        width: 50%;
    }

    /* .btn{
        background-color: blue;
        width: 50%;
    } */
    
}


@media only screen and (min-width:1023px){

    .lg-1 {
        /* flex-wrap: nowrap; */
        width: 25%;
    }

    /* .btn{
        background-color: rgb(0, 255, 85);
        width: 25%;
    } */
    
}